html,
body{
    height: 100%;
}
body{
    background-color: #fff;
    font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
}
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{
    font-family: 'Stint Ultra Expanded',' Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1{
    color: #063186;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -91px; /* the bottom margin is the negative value of the footer's height */
}
.footer, 
.push {
    height: 91px; /* .push must be the same height as .footer */
}
.container{
    background-color: rgba(255,255,255,0.9);
}
.navbar,
.navbar-header{
    background-color: #d10010;
}
.navbar-default{
    border-bottom: none;
    font-weight: 700;
}
.navbar-default .navbar-brand{
    color: #063186;
}
.navbar-default .navbar-brand:hover{
    color: #041f55;
}
.navbar-default .navbar-toggle{
    border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:active{
    background-color: #9e000c;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: #063186;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > .dropdown > a .caret{
    border-top-color: #FFF;
    border-bottom-color: #FFF;
}
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret{
    /*border-top-color: #fff;
    border-bottom-color: #fff;*/
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret{
    background-color: #dd4643;
    border-top-color: #333;
    border-bottom-color: #333;
    color: #333;
}
.navbar-collapse{
    background-color: #d10010;
}
.dropdown-menu{
    background-color: #dd4643;
    border-color:#dd4643;
    color: #ccc;
}



.properties_pagination{
    display: none;
}
.overview-item{
    margin-bottom: 20px;
}
.overview-item h4 a{
    color: #000;
}
.overview-item h4 a:hover{
    color: #000;
}
.overview-tagline{
    margin: 15px 0px;
}